celery
Django
django-allauth
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-extensions
django-filter
django-templated-mail
djangorestframework
djangorestframework-jsonapi
djangorestframework-simplejwt
djangorestframework-xml
djoser
mysqlclient
pytest
pytest-django
virtualenv
